.navbar{
  border: 0.5px solid #080707;
  width: 100vw;
  padding: 0 2rem;
  height: 80px;
  position:absolute;
     left: 0px;
     top: 0px;
};

.nav-item{
  border: 0.5px solid #080707;
  padding: 2rem;

};